In [1]:
import numpy as np
import pandas as pd
import os

In [9]:
data_dir = "/cluster/tufts/hugheslab/datasets/mimic-iii-v1.4/v20201130/extract/"
features_df = pd.read_csv(os.path.join(data_dir, 'features_per_tstep.csv'))
outcomes_df = pd.read_csv(os.path.join(data_dir, 'outcomes_per_seq.csv'))

In [15]:
features_df[['subject_id', 'ph']]

         subject_id    ph
0                 3  7.40
1                 3   NaN
2                 3  7.26
3                 3   NaN
4                 3   NaN
...             ...   ...
2200949       99999   NaN
2200950       99999   NaN
2200951       99999   NaN
2200952       99999   NaN
2200953       99999   NaN

[2200954 rows x 2 columns]

In [11]:
outcomes_df.head()

   subject_id  hadm_id  icustay_id  mort_hosp  stay_length
0           3   145834      211552          0          145
1           4   185777      294638          0           40
2           6   107064      228232          0           88
3           9   150750      220597          1          127
4          11   194540      229441          0           38

In [5]:
data_dir = "/cluster/tufts/hugheslab/prath01/projects/time_series_prediction/datasets/mimic3_inhospital_mortality/v20201207/split-by=subject_id/features_per_timeslice/classifier_train_test_split_dir/"
x_train_df = pd.read_csv(os.path.join(data_dir, "x_train_first_24_hours.csv"), nrows=1000)
y_train_df = pd.read_csv(os.path.join(data_dir, "y_train_first_24_hours.csv"), nrows=1000)
x_train_imputed_df = pd.read_csv(os.path.join(data_dir, "x_train_first_24_hours_imputed.csv"), nrows=1000)

In [4]:
x_train_df

,subject_id,hadm_id,icustay_id,hours_in,age,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,...,tidal volume set,tidal volume spontaneous,total protein,total protein urine,troponin-i,troponin-t,venous pvo2,weight,white blood cell count,white blood cell count urine
0,3,145834,211552,0,76.526794,25.0,1.8,NaN,NaN,NaN,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.842857,NaN
1,3,145834,211552,1,76.526794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,145834,211552,2,76.526794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,145834,211552,3,76.526794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,145834,211552,4,76.526794,NaN,NaN,NaN,NaN,NaN,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,100,153952,221100,20,71.942740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,100,153952,221100,21,71.942740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,100,153952,221100,22,71.942740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,100,153952,221100,23,71.942740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,100,153952,221100,24,71.942740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
x_train_imputed_df

,subject_id,hadm_id,icustay_id,hours_in,age,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,...,delta_tidal volume set,delta_tidal volume spontaneous,delta_total protein,delta_total protein urine,delta_troponin-i,delta_troponin-t,delta_venous pvo2,delta_weight,delta_white blood cell count,delta_white blood cell count urine
0,3,145834,211552,0,0.020008,-3.095300e-01,-3.800442e+00,1.108521e-14,-2.719609e-14,1.552998e-15,...,-1.295176,-1.419100,-1.660460,-1.658006,-1.648202,-1.485042,-1.657760,-1.433340,-1.287835,-1.634098
1,3,145834,211552,1,0.020008,-3.095300e-01,-3.800442e+00,1.108521e-14,-2.719609e-14,1.552998e-15,...,-1.157074,-1.279123,-1.521749,-1.519270,-1.509578,-1.345696,-1.519047,-1.287816,-1.091922,-1.495040
2,3,145834,211552,2,0.020008,-3.095300e-01,-3.800442e+00,1.108521e-14,-2.719609e-14,1.552998e-15,...,-1.018972,-1.139147,-1.383038,-1.380535,-1.370955,-1.206350,-1.380333,-1.142292,-0.896009,-1.355983
3,3,145834,211552,3,0.020008,-3.095300e-01,-3.800442e+00,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.880869,-0.999171,-1.244327,-1.241799,-1.232331,-1.067004,-1.241619,-0.996769,-0.700095,-1.216925
4,3,145834,211552,4,0.020008,-3.095300e-01,-3.800442e+00,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.742767,-0.859195,-1.105616,-1.103063,-1.093708,-0.927658,-1.102905,-0.851245,-0.504182,-1.077868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,100,153952,221100,20,-0.062372,-1.599579e-16,-1.159905e-15,1.108521e-14,-2.719609e-14,1.552998e-15,...,-1.018972,-1.139147,1.113758,1.116706,1.124268,1.301877,1.116517,-0.851245,-0.112355,1.147050
996,100,153952,221100,21,-0.062372,-1.599579e-16,-1.159905e-15,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.880869,-0.999171,1.252469,1.255442,1.262891,1.441223,1.255231,-0.705721,0.083558,1.286108
997,100,153952,221100,22,-0.062372,-1.599579e-16,-1.159905e-15,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.742767,-0.859195,1.391180,1.394177,1.401515,1.580569,1.393945,-0.560197,0.279471,1.425165
998,100,153952,221100,23,-0.062372,-1.599579e-16,-1.159905e-15,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.604664,-0.719219,1.529891,1.532913,1.540138,1.719915,1.532659,-0.414674,0.475385,1.564222
999,100,153952,221100,24,-0.062372,-1.599579e-16,-1.159905e-15,1.108521e-14,-2.719609e-14,1.552998e-15,...,-0.466562,-0.579242,1.668602,1.671648,1.678762,1.859261,1.671373,-0.269150,0.671298,1.703280

In [7]:
y_train_df

     subject_id  hadm_id  icustay_id  mort_hosp  stay_length
0             3   145834      211552          0          145
1             4   185777      294638          0           40
2            11   194540      229441          0           38
3            12   112213      232669          1          183
4            13   143045      263738          0           87
..          ...      ...         ...        ...          ...
995        2321   171365      214517          0           30
996        2326   136909      272975          0           34
997        2330   175091      272604          0           57
998        2332   134935      248449          1          125
999        2336   130928      210128          0           42

[1000 rows x 5 columns]

In [8]:
features_df[['subject_id', 'hadm_id', 'icustay_id', 'hours_in']].groupby(['subject_id', 'hadm_id', 'icustay_id']).max()

                               hours_in
subject_id hadm_id icustay_id
3          145834  211552           145
4          185777  294638            40
6          107064  228232            88
9          150750  220597           127
11         194540  229441            38
...                                 ...
99983      117390  286606            24
99991      151118  226241            75
99992      197084  242052            47
99995      137810  229633            51
99999      113369  246512            26

[34472 rows x 1 columns]