In [14]:
import pandas as pd
import numpy as np

In [2]:
x_train_df = pd.read_csv('x_train.csv')

In [5]:
len(x_train_df.subject_id.unique())

27577

In [6]:
x_train_imputed_df = pd.read_csv('x_train_imputed.csv', nrows=100)

,subject_id,hadm_id,icustay_id,hours_in,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,alkaline phosphate,...,delta_tidal volume set,delta_tidal volume spontaneous,delta_total protein,delta_total protein urine,delta_troponin-i,delta_troponin-t,delta_venous pvo2,delta_weight,delta_white blood cell count,delta_white blood cell count urine
0,3,145834,211552,0,0.0023,0.16,0.322016,0.450521,0.101193,0.014702,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
1,3,145834,211552,1,0.0023,0.16,0.322016,0.450521,0.101193,0.014702,...,0.004202,0.004202,0.004184,0.004184,0.004184,0.004184,0.004184,0.004184,0.005,0.004184
2,3,145834,211552,2,0.0023,0.16,0.322016,0.450521,0.101193,0.014702,...,0.008403,0.008403,0.008368,0.008368,0.008368,0.008368,0.008368,0.008368,0.010,0.008368
3,3,145834,211552,3,0.0023,0.16,0.322016,0.450521,0.101193,0.014702,...,0.012605,0.012605,0.012552,0.012552,0.012552,0.012552,0.012552,0.012552,0.015,0.012552
4,3,145834,211552,4,0.0023,0.16,0.322016,0.450521,0.101193,0.014702,...,0.016807,0.016807,0.016736,0.016736,0.016736,0.016736,0.016736,0.016736,0.020,0.016736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,145834,211552,95,0.0018,0.16,0.322016,0.450521,0.101193,0.019140,...,0.151261,0.046218,0.397490,0.397490,0.062762,0.397490,0.280335,0.184100,0.075,0.364017
96,3,145834,211552,96,0.0018,0.16,0.322016,0.450521,0.101193,0.019140,...,0.155462,0.050420,0.401674,0.401674,0.066946,0.401674,0.284519,0.188285,0.080,0.368201
97,3,145834,211552,97,0.0018,0.16,0.322016,0.450521,0.101193,0.019140,...,0.159664,0.054622,0.405858,0.405858,0.071130,0.405858,0.288703,0.192469,0.085,0.372385
98,3,145834,211552,98,0.0018,0.16,0.322016,0.450521,0.101193,0.019140,...,0.163866,0.058824,0.410042,0.410042,0.075314,0.410042,0.292887,0.196653,0.090,0.376569
99,3,145834,211552,99,0.0018,0.16,0.322016,0.450521,0.101193,0.019140,...,0.168067,0.063025,0.414226,0.414226,0.079498,0.414226,0.297071,0.200837,0.095,0.380753

In [7]:
len(x_train_imputed_df.columns)

322

In [9]:
x_train_df.dtypes

subject_id                        int64
hadm_id                           int64
icustay_id                        int64
hours_in                          int64
alanine aminotransferase        float64
                                 ...
white blood cell count urine    float64
ph                              float64
ph urine                        float64
age                             float64
is_gender_male                  float64
Length: 110, dtype: object

(1762793, 110)

In [17]:
np.percentile(x_train_df.hours_in.values, [5, 50, 95, 100])

array([  3.,  35., 146., 239.])

In [18]:
1662793*322*

480000